$color-ofbackground: #cecebc;
$color-aside-background: #0d075e;
$color-sidebar-text: #000000;
$color-sidebar-background: #e0a914;
$color-shopList-background: #3498DB;
$color-warning: #e01b14;
$color-textcolor: white;
$color-main-container-background: #a5cafa;
